<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href = "/main.css" rel="stylesheet">

</head>
<body>

    <div th:replace="~{ nav.html :: navbar}"></div>

    <div class = "card" th:each=" i :${item}">
        <img src ="https://placehold.co/300" alt="My Local Image" width="150" height="200">
        <div>
            <a th:href="@{'/detail/'+ ${i.id} }">
                <h4 th:text="${i.title}"></h4>
            </a>
            <p th:text="${i.price}"></p>
            <p th:text="${i.username}"></p>
            <a th:href="@{'/update/'+ ${i. id} }">수정</a><br>
            <button th:onclick="deleteItem([[${i.id}]])">삭제</button>
        </div>
    </div>

    <script>
        function deleteItem(id) {
            fetch(`/delete?id=${id}`, { method:'DELETE' })
            .then((res) => res.text())
            .then((data) => console.log(data))
            .catch((err) => console.error("Error:", err))
            .then(() => location.reload());
        }
    </script>
</body>
</html>